@import "../../.cache/wal/colors-waybar.css";

* {
  border: none;
  border-radius: 0;
  font-family: "JetBrainsMono Nerd Font Propo";
  font-size: 16px;
  min-height: 0;
  margin : 0;
  padding : 0;
}

window#waybar {
  background: rgba(43, 48, 59, 1);
  color: white;
}

tooltip {
  background: rgba(43, 48, 59, 0.5);
  border: 1px solid rgba(100, 114, 125, 0.5);
}
tooltip label {
  color: white;
}

#workspaces button {
  padding: 0 5px;
  background: transparent;
  color: @foreground;
}

#workspaces button.active {
	min-width: 50px;
	background-color : @color9;
	color : #ffffff;
}

#battery,
#cpu,
#memory,
#temperature,
#network,
#pulseaudio,
#backlight {
	margin : 0 5px;
}

#battery {
  padding: 0 10px;
}

#clock {
  background-color: @color3;
}

